#!/usr/bin/env bash

set -e

export DEBIAN_FRONTEND=noninteractive

{{ if .is_laptop }}
echo "Installing and configuring laptop specific packages"

LAPTOP_PACKAGES=(
    intel-microcode
    firmware-misc-nonfree
    firmware-iwlwifi
    bluez
    bluez-firmware
    pipewire-audio-client-libraries
    libspa-0.2-bluetooth
    blueman
    tlp
    tlp-rdw
    thermald
    powertop
)
sudo apt-get install -y --no-install-recommends  "${LAPTOP_PACKAGES[@]}"

sudo apt-get purge -y --auto-remove pulseaudio-module-bluetooth bluez-alsa-utils

# Enable wireplumber and restart audio subsystem
if [ -n "$USER" ] && [ "$USER" != "root" ]; then
    systemctl --user --now enable wireplumber.service
    systemctl --user restart pipewire pipewire-pulse wireplumber
fi

# Enable and start TLP
sudo systemctl enable --now tlp
sudo tlp start

sudo powertop --auto-tune

echo "Finished installing and configuring laptop specific packages"
{{ end }}
