#!/usr/bin/env bash

echo "Generating key.txt"

mkdir -p "$HOME/.config/chezmoi"

cat <<EOF > "$HOME/.config/chezmoi/key.txt"
{{ (bitwarden "item" "age-secret").notes }}
EOF

chmod 600 "$HOME/.config/chezmoi/key.txt"
