[Desktop Entry]
Name=IntelliJ IDEA
Comment=Integrated Development Environment
Exec=/opt/idea/bin/idea.sh
Icon=/opt/idea/bin/idea.svg
Terminal=false
Type=Application
Categories=Development;IDE;
StartupWMClass=jetbrains-idea
